<a href="https://colab.research.google.com/github/arilprtm/Pemerograman-Dasar/blob/main/Percobaan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 15
salary = 3000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 9
print(type(x))

x = 5.0
print(type(x))

x = 2+3j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
var = 9
print(var)
print(id(var))
var = 10
print(var)
print(id(var))

9
11642344
10
11642376

In [ ]:
x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'politeknikbatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line = """Halo!
Kenapa aqsa draksistem?
karena emang darksistem loo."""

print(multi_line)

Halo!
Kenapa aqsa draksistem?
karena emang darksistem loo.

In [ ]:
x = 'Aqsazenara'
print(x[0])

A

In [ ]:
x = 'Aqsajelek'
x[0] = 'R'

TypeError: 'str' object does not support item assignment

In [ ]:
x = 'aqsajelek123'
print(x[2:])

sajelek123

In [ ]:
name = "aqsafomo"
print(f"Hello, nama saya {name}")

Hello, nama saya aqsafomo

In [ ]:
name = "aqsafomo"
print("nama saya %s" % (name))

nama saya aqsafomo

In [ ]:
name = "kinop"
print("nama saya {}".format(name))

nama saya kinop

In [ ]:
nama = "andi"
print("nama saya :", nama)

nama saya : andi

In [ ]:
x = [1, 2.2, 'Aqsabatam']
print(type(x))

<class 'list'>

In [ ]:
x = [2, 3.3, 'Reminder']
print(x)

[2, 3.3, 'Reminder']

In [ ]:
x = [1, 'elektro', True, 2.0]
print(x[1])

elektro

In [ ]:
x = [2, 4.4, 'Roboroarz']
x[0] = 'Polibatam'
print(x)

['Polibatam', 4.4, 'Roboroarz']

In [ ]:
# deklarasi variabel list
numbers = [20, 60, 80, 100]

#cara mengakses elemen dalam variabel list
numbers[0]  #20
numbers[1]  #60
numbers[2]  #80
numbers[3]  #100

#cara mengubah nilai elemen dalam variabel list
numbers[2]  #41
numbers[2]  #41

print (numbers[1])

60

In [2]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
print("List awal:", numbers)

# cara mengakses elemen dalam variabel list
print("Elemen indeks 0:", numbers[0])  # 23
print("Elemen indeks 1:", numbers[1])  # 43
print("Elemen indeks 2:", numbers[2])  # 15
print("Elemen indeks 3:", numbers[3])  # 34

# cara mengubah nilai elemen dalam variabel list
numbers[2] = 51
numbers[3] = 51
print("List setelah diubah:", numbers)

# print tiap elemen setelah perubahan
print("Elemen indeks 0:", numbers[0])
print("Elemen indeks 1:", numbers[1])
print("Elemen indeks 2:", numbers[2])
print("Elemen indeks 3:", numbers[3])

List awal: [23, 43, 15, 34]
Elemen indeks 0: 23
Elemen indeks 1: 43
Elemen indeks 2: 15
Elemen indeks 3: 34
List setelah diubah: [23, 43, 51, 51]
Elemen indeks 0: 23
Elemen indeks 1: 43
Elemen indeks 2: 51
Elemen indeks 3: 51

In [1]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]
print("List awal:", numbers)

# menambahkan elemen di indeks ke-4
numbers.insert(3, 5)  # indeks dimulai dari 0, jadi ke-4 = index 3
print("Setelah insert di indeks ke-4:", numbers)

# mengubah elemen di indeks ke-4
numbers[3] = 4
print("Setelah ubah elemen di indeks ke-4:", numbers)

# menghapus elemen di indeks ke-2
numbers.pop(2)
print("Setelah hapus elemen di indeks ke-2:", numbers)

List awal: [1, 2, 3]
Setelah insert di indeks ke-4: [1, 2, 3, 5]
Setelah ubah elemen di indeks ke-4: [1, 2, 3, 4]
Setelah hapus elemen di indeks ke-2: [1, 2, 4]

In [3]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]
print("List awal:", numbers)

# menambahkan elemen di indeks ke-4
numbers.insert(3, 5)   # indeks ke-4 = posisi index 3 (karena mulai dari 0)
print("Setelah insert di indeks ke-4:", numbers)

# mengubah elemen di indeks ke-4
numbers[3] = 4
print("Setelah ubah elemen di indeks ke-4:", numbers)

# menghapus elemen di indeks ke-2
numbers.pop(2)
print("Setelah hapus elemen di indeks ke-2:", numbers)

List awal: [1, 2, 3]
Setelah insert di indeks ke-4: [1, 2, 3, 5]
Setelah ubah elemen di indeks ke-4: [1, 2, 3, 4]
Setelah hapus elemen di indeks ke-2: [1, 2, 4]

In [4]:
# deklarasi variabel list
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]
print("List awal:", myList)

# cara mengakses elemen dalam variabel list
print("Elemen indeks 0:", myList[0])   # 1
print("Elemen indeks 1:", myList[1])   # "Rumah"
print("Elemen indeks 2:", myList[2])   # 4.5
print("Elemen indeks 3:", myList[3])   # True
print("Elemen indeks 4:", myList[4])   # ["Kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
print("Elemen sublist indeks [4][0]:", myList[4][0])  # "Kamar mandi"
print("Elemen sublist indeks [4][1]:", myList[4][1])  # "Kamar tidur"

List awal: [1, 'Rumah', 4.5, True, ['Kamar mandi', 'Kamar tidur']]
Elemen indeks 0: 1
Elemen indeks 1: Rumah
Elemen indeks 2: 4.5
Elemen indeks 3: True
Elemen indeks 4: ['Kamar mandi', 'Kamar tidur']
Elemen sublist indeks [4][0]: Kamar mandi
Elemen sublist indeks [4][1]: Kamar tidur