<a href="https://colab.research.google.com/github/arilprtm/Pemerograman-Dasar/blob/main/Pertemuan_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = float(input("Berapa porsi makan yang Anda beli? : "))
nama = str(input("Siapa Nama Pelanggan? : "))

Berapa porsi makan yang Anda beli? : 2.5
Siapa Nama Pelanggan? : Barca

In [ ]:
total = input("Berapa porsi minuman yang anda beli? :")
nama = input("Siapa Nama penjualnya ? : ")

Berapa porsi minuman yang anda beli? :5
Siapa Nama penjualnya ? : Pak jono

In [ ]:
food = "es goyang"
print("Aqsa sedang memesan", food)

Aqsa sedang memesan es goyang

In [ ]:
food = "nasi goreng"
print("Aqsa sedang makan", food)
print("Aqsa sedang makan"+ food)
print("Aqsa sedang makan %s" % (food))

Aqsa sedang makan nasi goreng
Aqsa sedang makannasi goreng
Aqsa sedang makan nasi goreng

In [ ]:
d = 15
e = 3
print("Penjumlahan:", d + e)
print("Pengurangan:", d - e)
print("Perkalian:", d * e)
print("Pembagian:", d / e)

Penjumlahan: 18
Pengurangan: 12
Perkalian: 45
Pembagian: 5.0

In [ ]:
bilangan = 10
hasil = (bilangan > 2) and (bilangan % 4 == 2)
print("genap dan positif?", hasil)

genap dan positif? True

In [ ]:
harga_baju = int(input("Berapa harga baju per pcs? "))
jumlah_baju = int(input("berapa baju yang Anda Beli?"))
total_baju = harga_baju * jumlah_baju

print(f"Harga baju per pcs = {harga_baju}, totalnya adalah {total_baju}")

Berapa harga baju per pcs? 80000
berapa baju yang Anda Beli?2
Harga baju per pcs = 80000, totalnya adalah 160000

In [ ]:
#konversi waktu
total_detik = 358200
jam = total_detik // 7200
sisa_detik = total_detik % 7200
menit = sisa_detik // 9
detik = sisa_detik % 50
print(f"Hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Hasil konversi: 49 Jam, 600 Menit, 0 Detik

In [1]:
tugas = 100
uts = 80
uas = 90
nilai_akhir = (0.2 * tugas) + (0.4 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

Nilai akhir = 88.0

In [ ]:
nilai_mahasiswa = 75
standar_kelulusan = 80
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan
print(f"Nilai Mahasiswa: {nilai_mahasiswa}")
print(f"Standar Kelulusan: {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")

Nilai Mahasiswa: 75
Standar Kelulusan: 80
Apakah Mahasiswa Lulus? False
Perlu Remedial? True

In [2]:
belanja = 8000000
diskon = (0, 0.35 * belanja)[belanja > 1000000]
total_harga = belanja - diskon
print("Total harga setelah diskon = RP", total_harga)

Total harga setelah diskon = RP 5200000.0

In [ ]:
# Latihan

tahun = 2024
tahun_kabisat = (tahun % 4 == 0) and (tahun % 100 != 0) or (tahun % 400 == 0)

print(tahun_kabisat)

True

In [ ]:
#Latihan

tahun = int(input("Tahun Berapakah Dia? : "))
tahun_kabisat =  (tahun % 4 == 0) and (tahun % 100 != 0) or (tahun % 400 == 0)
hasil =["ini bukan tahun kabisat yaa!", "ini baru tahun kabisat yaa!"][tahun_kabisat]

print(f"{tahun} {hasil}")

Tahun Berapakah Dia? : 2004
2004 ini baru tahun kabisat yaa!

In [7]:
# Program Kasir Sederhana

# Input subtotal belanja
subtotal = float(input("Masukkan total belanja: "))

# Input status member (y/n)
member = input("Apakah Anda mempunyai member? (ya/no): ").lower()

# Logika diskon menggunakan perkalian boolean
# Diskon 15% hanya berlaku jika subtotal > 100000 dan pelanggan adalah member
diskon = 0.15 * subtotal * (subtotal > 100000) * (member == "ya")

# Hitung harga setelah diskon
harga_setelah_diskon = subtotal - diskon

# Tambahkan PPN 11%
ppn = 0.11 * harga_setelah_diskon
total_bayar = harga_setelah_diskon + ppn

# Output
print("\n===== STRUK PEMBAYARAN =====")
print(f"Subtotal        : Rp{subtotal:,.2f}")
print(f"Diskon          : Rp{diskon:,.2f}")
print(f"PPN (11%)       : Rp{ppn:,.2f}")
print(f"Total Bayar     : Rp{total_bayar:,.2f}")

Masukkan total belanja: 2000000
Apakah Anda mempunyai member? (ya/no): ya

===== STRUK PEMBAYARAN =====
Subtotal        : Rp2,000,000.00
Diskon          : Rp300,000.00
PPN (11%)       : Rp187,000.00
Total Bayar     : Rp1,887,000.00